# Data Cleaning

In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
Imdb = pd.read_csv(r'C:\Datascience\Imdb.csv')
Imdb.head(3)

,Unnamed: 0,movie_names,release_year,movie_runtime,movie_genre,movie_rating,movie_ranking,Movie_Director,Movie_Stars,metascore,votes,Gross
0,0,Elvis,2022,159 min,"Biography, Drama, Music",7.8,1.0,Baz Luhrmann,"Tom Hanks, Austin Butler, Olivia DeJonge, H...",64.0,"32,025",NaN
1,1,Top Gun: Maverick,2022,130 min,"Action, Drama",8.6,2.0,Joseph Kosinski,"Tom Cruise, Jennifer Connelly, Miles Teller,...",78.0,"219,554",NaN
2,2,Everything Everywhere All at Once,2022,139 min,"Action, Adventure, Comedy",8.2,3.0,"Dan Kwan, Daniel Scheinert","Michelle Yeoh, Stephanie Hsu, Ke Huy Quan, ...",81.0,"140,234",NaN

In [4]:
Imdb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 650 entries, 0 to 649
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      650 non-null    int64
 1   movie_names     650 non-null    object
 2   release_year    650 non-null    object
 3   movie_runtime   650 non-null    object
 4   movie_genre     650 non-null    object
 5   movie_rating    650 non-null    float64
 6   movie_ranking   650 non-null    float64
 7   Movie_Director  650 non-null    object
 8   Movie_Stars     650 non-null    object
 9   metascore       622 non-null    float64
 10  votes           650 non-null    object
 11  Gross           588 non-null    float64
dtypes: float64(4), int64(1), object(7)
memory usage: 61.1+ KB

In [5]:
Imdb.shape

(650, 12)

In [6]:
# cleaning movie_runtime column 

import re
a = re.findall(r'(\d+)',Imdb.movie_runtime[0])
a[0]

'159'

In [7]:
#Imdb.movie_runtime = Imdb.movie_runtime.apply(lambda i: re.findall(r'(\d+)',i))


Imdb['movie_runtime'] =Imdb.movie_runtime.apply(lambda i: re.findall(r'(\d+)',i)[0])

In [8]:
Imdb['movie_ranking']=Imdb['movie_ranking'].astype(int)

In [9]:
Imdb.head(3)

,Unnamed: 0,movie_names,release_year,movie_runtime,movie_genre,movie_rating,movie_ranking,Movie_Director,Movie_Stars,metascore,votes,Gross
0,0,Elvis,2022,159,"Biography, Drama, Music",7.8,1,Baz Luhrmann,"Tom Hanks, Austin Butler, Olivia DeJonge, H...",64.0,"32,025",NaN
1,1,Top Gun: Maverick,2022,130,"Action, Drama",8.6,2,Joseph Kosinski,"Tom Cruise, Jennifer Connelly, Miles Teller,...",78.0,"219,554",NaN
2,2,Everything Everywhere All at Once,2022,139,"Action, Adventure, Comedy",8.2,3,"Dan Kwan, Daniel Scheinert","Michelle Yeoh, Stephanie Hsu, Ke Huy Quan, ...",81.0,"140,234",NaN

In [10]:
Imdb.votes[0]

'32,025'

In [11]:
# replacing comma from votes and converting data type into int

Imdb.votes = Imdb.votes.str.replace(',','')
Imdb.votes = Imdb.votes.astype(int)
Imdb.votes

0        32025
1       219554
2       140234
3       535289
4      1802882
        ...
645      27590
646      81485
647     185221
648     117761
649      84975
Name: votes, Length: 650, dtype: int32

## 1. Checking for Duplicate rows

In [12]:
dup_data = Imdb.duplicated().any() 
print('Are there any duplicate row in Imdb data ? ',dup_data)

Are there any duplicate row in Imdb data ?  False

In [13]:
Imdb[Imdb.duplicated()]

Empty DataFrame
Columns: [Unnamed: 0, movie_names, release_year, movie_runtime, movie_genre, movie_rating, movie_ranking, Movie_Director, Movie_Stars, metascore, votes, Gross]
Index: []

## 2. Identify Corrupted Data

In [14]:
Imdb.release_year.unique()

array(['2022', '1972', '2021', '2019', '1993', '1994', '1977', '2013',
       '2017', '2008', '1976', '2010', '1997', '2014', '2005', '1985',
       '1974', '2003', '2001', '1990', '2000', '1982', '1995', '2018',
       '2016', '1999', '1983', '2009', '2006', '1987', 'I) (', '2012',
       '1980', '1975', '1979', '2015', '1998', '1991', '2004', '1986',
       '2007', '1984', '1942', '1957', '1992', '1981', '1971', '1965',
       '2011', '1966', '1973', '1964', '1959', '2020', '1996', '2002',
       '1988', '1968', 'II)', '1989', '1960', '1939', '1978', '1955',
       '1969', '1946', '1954', '1962', '1967', '1936', '1941', '1961',
       '1958', '1963', '1952', '1951', '1956', '1940', '1931', '1950',
       '1927', '1937', '1944', 'III)', '1922', '1970', '1953', '1920',
       '1934', '1933'], dtype=object)

In [15]:
Imdb.release_year.value_counts()

2014    23
I) (    22
2019    18
2006    18
2009    18
        ..
1927     1
1931     1
1942     1
1936     1
1933     1
Name: release_year, Length: 90, dtype: int64

In [16]:
# convert the corrupted data to missing values

Imdb['release_year'] = Imdb.release_year.replace({"I) (":np.NaN,"II)":np.NaN,'III)':np.NaN})

### 2. Handling missing values

In [17]:
Imdb.isnull().sum()

Unnamed: 0         0
movie_names        0
release_year      26
movie_runtime      0
movie_genre        0
movie_rating       0
movie_ranking      0
Movie_Director     0
Movie_Stars        0
metascore         28
votes              0
Gross             62
dtype: int64

In [18]:
# look at the missing records once

Imdb[Imdb.release_year.isnull()]
Imdb[Imdb.metascore.isnull()]
Imdb[Imdb.Gross.isnull()]

,Unnamed: 0,movie_names,release_year,movie_runtime,movie_genre,movie_rating,movie_ranking,Movie_Director,Movie_Stars,metascore,votes,Gross
0,0,Elvis,2022,159,"Biography, Drama, Music",7.8,1,Baz Luhrmann,"Tom Hanks, Austin Butler, Olivia DeJonge, H...",64.0,32025,NaN
1,1,Top Gun: Maverick,2022,130,"Action, Drama",8.6,2,Joseph Kosinski,"Tom Cruise, Jennifer Connelly, Miles Teller,...",78.0,219554,NaN
2,2,Everything Everywhere All at Once,2022,139,"Action, Adventure, Comedy",8.2,3,"Dan Kwan, Daniel Scheinert","Michelle Yeoh, Stephanie Hsu, Ke Huy Quan, ...",81.0,140234,NaN
3,3,The Batman,2022,176,"Action, Crime, Drama",7.9,4,Matt Reeves,"Robert Pattinson, Zoë Kravitz, Jeffrey Wrigh...",72.0,535289,NaN
7,7,RRR (Rise Roar Revolt),2022,187,"Action, Drama",8.0,8,S.S. Rajamouli,"N.T. Rama Rao Jr., Ram Charan, Ajay Devgn, ...",83.0,82853,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
622,622,Das Cabinet des Dr. Caligari,1920,76,"Horror, Mystery, Thriller",8.0,623,Robert Wiene,"Werner Krauss, Conrad Veidt, Friedrich Feher...",NaN,63038,NaN
623,623,Klaus,2019,96,"Animation, Adventure, Comedy",8.1,624,"Sergio Pablos, Carlos Martínez López","Jason Schwartzman, J.K. Simmons, Rashida Jon...",65.0,144003,NaN
629,629,Shin seiki Evangelion Gekijô-ban: Air/Magokoro...,1997,87,"Animation, Action, Drama",8.0,630,"Hideaki Anno, Kazuya Tsurumaki","Megumi Ogata, Megumi Hayashibara, Yûko Miyam...",NaN,52975,NaN
635,635,Togo,2019,113,"Adventure, Biography, Drama",7.9,636,Ericson Core,"Willem Dafoe, Julianne Nicholson, Christophe...",69.0,47723,NaN
641,641,Badlands,1973,94,"Action, Crime, Drama",7.7,642,Terrence Malick,"Martin Sheen, Sissy Spacek, Warren Oates, R...",93.0,72449,NaN

In [19]:
Imdb.drop(['Unnamed: 0'],axis=1)

,movie_names,release_year,movie_runtime,movie_genre,movie_rating,movie_ranking,Movie_Director,Movie_Stars,metascore,votes,Gross
0,Elvis,2022,159,"Biography, Drama, Music",7.8,1,Baz Luhrmann,"Tom Hanks, Austin Butler, Olivia DeJonge, H...",64.0,32025,NaN
1,Top Gun: Maverick,2022,130,"Action, Drama",8.6,2,Joseph Kosinski,"Tom Cruise, Jennifer Connelly, Miles Teller,...",78.0,219554,NaN
2,Everything Everywhere All at Once,2022,139,"Action, Adventure, Comedy",8.2,3,"Dan Kwan, Daniel Scheinert","Michelle Yeoh, Stephanie Hsu, Ke Huy Quan, ...",81.0,140234,NaN
3,The Batman,2022,176,"Action, Crime, Drama",7.9,4,Matt Reeves,"Robert Pattinson, Zoë Kravitz, Jeffrey Wrigh...",72.0,535289,NaN
4,The Godfather,1972,175,"Crime, Drama",9.2,5,Francis Ford Coppola,"Marlon Brando, Al Pacino, James Caan, Diane...",100.0,1802882,134.97
...,...,...,...,...,...,...,...,...,...,...,...
645,The Caine Mutiny,1954,124,"Drama, War",7.7,646,Edward Dmytryk,"Humphrey Bogart, José Ferrer, Van Johnson, ...",63.0,27590,21.75
646,The Hustler,1961,134,"Drama, Sport",8.0,647,Robert Rossen,"Paul Newman, Jackie Gleason, Piper Laurie, ...",90.0,81485,8.28
647,The Last King of Scotland,2006,123,"Biography, Drama, History",7.7,648,Kevin Macdonald,"James McAvoy, Forest Whitaker, Gillian Ander...",74.0,185221,17.61
648,Nebraska,2013,115,"Adventure, Comedy, Drama",7.7,649,Alexander Payne,"Bruce Dern, Will Forte, June Squibb, Bob Od...",87.0,117761,17.65
649,King Kong,1933,100,"Adventure, Horror, Sci-Fi",7.9,650,"Merian C. Cooper, Ernest B. Schoedsack","Fay Wray, Robert Armstrong, Bruce Cabot, Fr...",90.0,84975,10.00

In [20]:
Imdb.drop(['Unnamed: 0'],axis=1)

,movie_names,release_year,movie_runtime,movie_genre,movie_rating,movie_ranking,Movie_Director,Movie_Stars,metascore,votes,Gross
0,Elvis,2022,159,"Biography, Drama, Music",7.8,1,Baz Luhrmann,"Tom Hanks, Austin Butler, Olivia DeJonge, H...",64.0,32025,NaN
1,Top Gun: Maverick,2022,130,"Action, Drama",8.6,2,Joseph Kosinski,"Tom Cruise, Jennifer Connelly, Miles Teller,...",78.0,219554,NaN
2,Everything Everywhere All at Once,2022,139,"Action, Adventure, Comedy",8.2,3,"Dan Kwan, Daniel Scheinert","Michelle Yeoh, Stephanie Hsu, Ke Huy Quan, ...",81.0,140234,NaN
3,The Batman,2022,176,"Action, Crime, Drama",7.9,4,Matt Reeves,"Robert Pattinson, Zoë Kravitz, Jeffrey Wrigh...",72.0,535289,NaN
4,The Godfather,1972,175,"Crime, Drama",9.2,5,Francis Ford Coppola,"Marlon Brando, Al Pacino, James Caan, Diane...",100.0,1802882,134.97
...,...,...,...,...,...,...,...,...,...,...,...
645,The Caine Mutiny,1954,124,"Drama, War",7.7,646,Edward Dmytryk,"Humphrey Bogart, José Ferrer, Van Johnson, ...",63.0,27590,21.75
646,The Hustler,1961,134,"Drama, Sport",8.0,647,Robert Rossen,"Paul Newman, Jackie Gleason, Piper Laurie, ...",90.0,81485,8.28
647,The Last King of Scotland,2006,123,"Biography, Drama, History",7.7,648,Kevin Macdonald,"James McAvoy, Forest Whitaker, Gillian Ander...",74.0,185221,17.61
648,Nebraska,2013,115,"Adventure, Comedy, Drama",7.7,649,Alexander Payne,"Bruce Dern, Will Forte, June Squibb, Bob Od...",87.0,117761,17.65
649,King Kong,1933,100,"Adventure, Horror, Sci-Fi",7.9,650,"Merian C. Cooper, Ernest B. Schoedsack","Fay Wray, Robert Armstrong, Bruce Cabot, Fr...",90.0,84975,10.00

In [21]:
# checking the percentage of missing value

(Imdb.isnull().sum()*100/len(Imdb)).round(2).astype(str) + ' %'

Unnamed: 0         0.0 %
movie_names        0.0 %
release_year       4.0 %
movie_runtime      0.0 %
movie_genre        0.0 %
movie_rating       0.0 %
movie_ranking      0.0 %
Movie_Director     0.0 %
Movie_Stars        0.0 %
metascore         4.31 %
votes              0.0 %
Gross             9.54 %
dtype: object

In [22]:
Imdb.isnull().sum()

Unnamed: 0         0
movie_names        0
release_year      26
movie_runtime      0
movie_genre        0
movie_rating       0
movie_ranking      0
Movie_Director     0
Movie_Stars        0
metascore         28
votes              0
Gross             62
dtype: int64

## Drop missing values

In [23]:
# total number of missing records
np.sum(Imdb.isna().sum())

Imdb.shape

# Pct of total missing rows in DF
np.round(np.sum(Imdb.isna().sum())/len(Imdb)*100,2).astype(str) + '%'

'17.85%'

In [24]:
Imdb.dropna(axis=0,how='any',inplace=True)

In [25]:
Imdb.shape

(551, 12)

In [26]:
# Droping unwanted column
Imdb.drop(['Unnamed: 0'],axis=1,inplace=True)

In [27]:
# reset indexing
Imdb.reset_index(drop=True,inplace=True)

In [28]:
# type casting

Imdb['release_year'] = Imdb['release_year'].astype(int)
Imdb['movie_runtime'] = Imdb['movie_runtime'].astype(int)

In [29]:
Imdb.tail()

,movie_names,release_year,movie_runtime,movie_genre,movie_rating,movie_ranking,Movie_Director,Movie_Stars,metascore,votes,Gross
546,The Caine Mutiny,1954,124,"Drama, War",7.7,646,Edward Dmytryk,"Humphrey Bogart, José Ferrer, Van Johnson, ...",63.0,27590,21.75
547,The Hustler,1961,134,"Drama, Sport",8.0,647,Robert Rossen,"Paul Newman, Jackie Gleason, Piper Laurie, ...",90.0,81485,8.28
548,The Last King of Scotland,2006,123,"Biography, Drama, History",7.7,648,Kevin Macdonald,"James McAvoy, Forest Whitaker, Gillian Ander...",74.0,185221,17.61
549,Nebraska,2013,115,"Adventure, Comedy, Drama",7.7,649,Alexander Payne,"Bruce Dern, Will Forte, June Squibb, Bob Od...",87.0,117761,17.65
550,King Kong,1933,100,"Adventure, Horror, Sci-Fi",7.9,650,"Merian C. Cooper, Ernest B. Schoedsack","Fay Wray, Robert Armstrong, Bruce Cabot, Fr...",90.0,84975,10.00

In [30]:
Imdb.isnull().sum()

movie_names       0
release_year      0
movie_runtime     0
movie_genre       0
movie_rating      0
movie_ranking     0
Movie_Director    0
Movie_Stars       0
metascore         0
votes             0
Gross             0
dtype: int64

In [32]:
Imdb.to_csv(r'C:\Datascience\Imdb_EDA.csv')